# Node
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Next build output
.next
out
dist

# Env
.env
.env.*
!.env.example

# Logs
*.log

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Testing
coverage
__tests__
*.test.ts